# .env.example
DB_HOST=localhost
DB_PORT=1433
DB_TRANSACT=YourDBName
DB_STAGING=YourDBStagingName
DB_USER=YourUser
DB_PASSWORD=YourPassword

DW_HOST=localhost
DW_PORT=1433
DW_NAME=YoourDWName
DW_USER=YourUser
DW_PASSWORD=YourPassword
